language: node_js
node_js:
- "10"
dist: xenial
sudo: required
branches:
  only:
  - master
before_script:
- npm install -g @angular/cli
script:
- npm run lint
- npm run test_lib_ci
- npm run e2e_ci
- npm run package
