<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="h1">Plain binding</div>

      <ngxd-duration-picker [(value)]="myValue" [disabled]="disabled"></ngxd-duration-picker>

    </div>
    <div class="col-xs-6">
      <div class="alert alert-info">
        {{ myValue }}
      </div>
      <button (click)="myValue = 'P7Y3M2W4DT1H3M5S'" class="btn btn-info">Set to value 'P7Y3M2W4DT1H3M5S'</button>
    </div>
    <div class="col-xs-6">
      <button (click)="disabled = !disabled" class="btn btn-warning">Toggle Enable/Disable</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="h1">Reactive Form</div>
      <form [formGroup]="form">
        <ngxd-duration-picker [formControlName]="'myDurationControl'"></ngxd-duration-picker>
      </form>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="alert alert-info">
          {{ form.get('myDurationControl').value }}
        </div>
        <button (click)="setControlToValue('P7Y3M2W4DT1H3M5S')" class="btn btn-info">Set to value 'P7Y3M2W4DT1H3M5S'</button>
      </div>

      <div class="col-xs-6">
        <button (click)="toggleEnableDisableControl()" class="btn btn-warning">Toggle Enable/Disable</button>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <div class="alert alert-success">
          {{ form.get('myDurationControl').touched ? 'Touched' : 'Untouched' }}
        </div>
        <button (click)="makeUntouched()" class="btn btn-success">Make untouched</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-xs-12">
        <div class="h1">Negative Duration</div>

        <ngxd-duration-picker [(value)]="myNegativeValue" [options]="{ showNegative: showNegative }"></ngxd-duration-picker>

      </div>
      <div class="col-xs-6">
        <div class="alert alert-info">
          {{ myNegativeValue }}
        </div>
        <button (click)="myNegativeValue = '-P7Y3M2W4DT1H3M5S'" class="btn btn-info">Set to value '-P7Y3M2W4DT1H3M5S'</button>
      </div>

      <div class="col-xs-6">
          <button (click)="showNegative = !showNegative" class="btn btn-warning">
            <span *ngIf="!showNegative">Show </span>
            <span *ngIf="showNegative">Hide </span>
            Negative Durations</button>
        </div>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="h1">Numeric mode</div>
      <ngxd-duration-picker [(value)]="myNumberValue" mode="seconds"></ngxd-duration-picker>
    </div>
    <div class="col-xs-6">
      <div class="alert alert-info">
        {{ myNumberValue }}
      </div>
      <button (click)="myNumberValue = 1234" class="btn btn-info">Set to value '1234'</button>
    </div>
  </div>
</div>



