#preview-format-input {
  margin-left: 15px;
  padding: 0 5px;
  width: 75%;
}

#years-label-input, #weeks-label-input, #hours-label-input, #years-steps-input, #weeks-steps-input, #hours-steps-input {
  margin-left: 15px;
  padding: 0 5px;
  width: 25%;
}
