tr {
  text-align: center;
}

input {
  width: 30px;
  height: 26px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0;

  font-size: 13px;
  color: #666;
  text-align: center;

  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.btn {
  padding: 1px;
}

#dp-duration-value {
  margin-left: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
